/** Required part of labware.css to resolve AT431CS : Package all necessary services/login.htm files in the WAR.  Switch to the WEB_CONFIG common/images definition once logged in.**/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,table,tbody,tfoot,thead,tr,th,td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:12px;
  font-weight:400;
  vertical-align:baseline;
  background:transparent;
  color:#0d4f91
}

body {
  margin:0 auto;
  font:1em Verdana,Geneva,sans-serif;
  color:#0d4f91;
  background:#196995 url(../img/bg-inner.jpg) top left repeat-x
}

fieldset {
  height:100%;
  width:100%;
  border:1px solid #ccc
}

legend {
  margin-left:10px;
  padding:0 3px
}

a {
  text-decoration:none
}

input {
  font-size:13px
}

iframe {
  border:0;
  background-color:#fff;
  overflow:auto
}

.formLabel,.formLabelDisabled,.formLabelRequired,.formLabelInvalid {
  text-align:right;
  color:#000;
  font-size:13px;
  white-space:nowrap;
  height:20px;
  margin-top:10px
}

.formLabelDisabled {
  color:gray
}

.formLabel span {
  color:#000
}

.formLabelRequired {
  color:blue
}

.formLabelInvalid {
  color:red
}

.formLabelHidden {
  display:none;
}

.input-css {
  width:200px;
  height:20px;
  border:1px solid #89A5BD;
  margin-left:8px
}

.pane td {
  color:#0d4f91
}

.pane input {
  color:#222
}

.btn {
  display:inline-block;
  padding:3px 5px;
  font-size:12px;
  line-height:14px;
  min-height:18px;
  min-width:30px;
  vertical-align:middle;
  color:#333;
  text-align:center;
  text-shadow:0 1px 1px rgba(255,255,255,0.75);
  background-color:#fafafa;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(25%,#fff),to(#e6e6e6));
  background-image:-webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);
  background-image:-moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);
  background-image:-ms-linear-gradient(#fff,#fff 25%,#e6e6e6);
  background-image:-o-linear-gradient(#fff,#fff 25%,#e6e6e6);
  background-image:linear-gradient(#fff,#fff 25%,#e6e6e6);
  background-repeat:no-repeat;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff',endColorstr = '#e6e6e6',GradientType = 0);
  border:1px solid #ccc;
  border-bottom-color:#bbb;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  cursor:pointer;
  *margin-left:.3em
}

.btn:first-child {
  *margin-left:0
}

.btn:hover {
  color:#333;
  text-decoration:none;
  background-color:#e6e6e6;
  background-position:0 -15px;
  -webkit-transition:background-position .1s linear;
  -moz-transition:background-position .1s linear;
  -ms-transition:background-position .1s linear;
  -o-transition:background-position .1s linear;
  transition:background-position .1s linear
}

.btn:focus {
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}

.btn.active,.btn:active {
  background-image:none;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  background-color:#e6e6e6;
  color:rgba(0,0,0,0.5);
  outline:0
}

.btn.disabled,.btn[disabled] {
  cursor:default;
  background-image:none;
  background-color:#e6e6e6;
  opacity:.35;
  filter:alpha(opacity = 35);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none
}

button.btn,input[type="submit"].btn {
  *padding-top:2px;
  *padding-bottom:2px
}

button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner {
  padding:0;
  border:0
}

.btn-blue {
  text-shadow:0 1px 0 #fff;
  color:#004a8e;
  background-color:#DAF1FF;
  background-image:-moz-linear-gradient(top,#f8ffff,#bcd3e1);
  background-image:-ms-linear-gradient(top,#f8ffff,#bcd3e1);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#f8ffff),to(#bcd3e1));
  background-image:-webkit-linear-gradient(top,#f8ffff,#bcd3e1);
  background-image:-o-linear-gradient(top,#f8ffff,#bcd3e1);
  background-image:linear-gradient(top,#f8ffff,#bcd3e1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f8ffff',endColorstr = '#bcd3e1',GradientType = 0);
  border-color:#DAF1FF #bcd3e1 #bcd3e1 #DAF1FF;
  border-color:rgba(0,0,0,0.25) rgba(0,0,0,0.35) rgba(0,0,0,0.35) rgba(0,0,0,0.25)
}

.btn-blue:hover,.btn-blue:active,.btn-blue.active,.btn-blue.disabled,.btn-blue[disabled] {
  background-color:#bcd3e1
}

.btn-blue:hover {
  color:#768d9b;
  text-shadow:0 1px 0 #fff
}

.btn-blue:focus {
  color:#3a515f;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  border-color:#DAF1FF #bcd3e1 #bcd3e1 #DAF1FF;
  border-color:rgba(0,0,0,0.25) rgba(0,0,0,0.35) rgba(0,0,0,0.35) rgba(0,0,0,0.25)
}

.gridTable .btn {
  padding:0;
  margin:0;
  font-size:8pt;
  min-height:14px;
  vertical-align:top
}

.mc img,.mcd img,.mch img {
  vertical-align:middle
}

.btn-blue.active,.btn-blue:active {
  background-image:none;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  color:#3a515f
}

.textInput:disabled {
  background:none repeat scroll 0 0 rgba(0,0,0,0);
  color:gray
}

.textInput {
  font-family:verdana,sans-serif;
  font-size:13px;
  color:#000;
  border:1px solid #a4b5c0;
  height:20px;
  width:165px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  border-radius:3px;
  padding-left:3px;
  background-color:#fff
}

.touch {
  -webkit-overflow-scrolling: touch;
}

::-ms-clear {
  display: none;
}

/** login.css **/

#login-bg {
  background: #006699 url('../img/bg-elements.png') 0 40px no-repeat;
}

#login-logo {
  position: absolute;
  top: 70px;
  left: 75px;
}

#login-pane {
  position: absolute;
  height: 450px;
  width: 354px;
  top: 50%;
  margin-top: -225px;
  left: 50%;
  margin-left: -177px;
}

.login-title {
  font: 1.9em Geneva, sans-serif;
  font-weight: bold;
  color: #004a8e;
  text-align: center;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 15px;
  padding-left: 8px;
}

#login-form-bg {
  width: 450px;
  min-height: 430px;
  margin: 0 auto;
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #c6c6c6;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  color: #000;
  background: #d8e2fb url(../img/world-map-labware.jpg) no-repeat center bottom;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: absolute;
}

.login-input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: 1px solid #89A5BD;
  margin-left: 8px;
  font-size: 12px;
  color: #444;
  font-family: Verdana;
  padding-left: 3px;
}

#loginForm td {
  font-size: 1.2em;
  padding: 1px;
  color: rgb(13, 79, 145);
}

#loginForm select {
  font-size: 1.2em;
}

#sso-pane {
  position: absolute;
  height: 250px;
  width: 354px;
  top: 50%;
  margin-top: -225px;
  left: 50%;
  margin-left: -177px;
}

#sso-form-bg {
  background: url("../img/world-map-labware.jpg") no-repeat scroll center bottom #d8e2fb;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  color: #000;
  display: block;
  margin: 0 auto;
  min-height: 330px;
  outline: medium none;
  position: absolute;
  width: 450px;
}
