body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #333333
}

td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #333333
}

.login-text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #333333
}
	 
.sub-head {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
	color: #ffffff;
	vertical-align: middle;
}

.header-link {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;
     color: #ffffff }
     .header-link:visited{text-decoration: none;}
     .header-link:link{text-decoration: none;}
     .header-link:hover{text-decoration: underline;}

.menu-link {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11px;
     font-weight: normal;
     text-decoration: none;
     color: #000000 }
     .menu-link:visited{text-decoration: none;font-weight: bold;}
     .menu-link:link{text-decoration: none;}
     .menu-link:hover{text-decoration: underline;}

.invalidFieldLabel {
    color: red;
}

.dataTableTitle {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: #000000;
      background: #FEC06D;
      text-align : center;
}

.dataTableHeader {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-decoration: none;
      color: #000000;
      background: #FEC06D;
      white-space: nowrap;
}

.dataTableFooter	{
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      background: #FEC06D;
      padding: 5;
}

.dataTablePagelink  {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 11px;
     font-weight: normal;
     text-decoration: none;
     color: #000000;
}

.dataTablePagelink:visited {
      text-decoration: none;
}

.dataTablePagelink:link{
      text-decoration: none;
}

.dataTablePagelink:hover{
      text-decoration: underline;
      color: yellow;
}

.dataTableEven	{
      background: #ffffff;
}

.dataTableOdd	{
      background: #FDDBAE;
}

.invalidFieldLabel {
      color: red;
}